/* MyNavbar css */
.active{
    background-color: rgb(30, 238, 110);
    color: #000;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(18, 63, 18, 0.932);
    position: sticky;
    top: 0;
}
nav .webname{
   font-size: 2rem;
   margin: 1rem;
   font-weight: bold;
   text-decoration: none;
   color: rgb(127, 239, 243);
}
nav ul{
    display: flex;
}
nav ul li{
  list-style: none;
  
}
nav ul li a{
    display: block;
   
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding: 0.5rem;
    margin: 0.5rem ;
    border-radius: 0.5rem;
}
nav ul li a:not(.active):hover{
    background-color: rgb(147, 245, 185);
    color: black;
}
nav .menu{
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 0.5rem;
}
nav .menu span{
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}
@media (max-width:480px){
    nav .menu{
        display: flex;
    }
    nav{
      flex-direction: column; 
      align-items: start; 
    }
    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }
    nav ul.open{
        display: flex;
    }
    nav ul li{
        width: 100%;
        text-align: center;
    }
    nav ul li a{
        margin: 0.2rem 0.5rem;
    }
}




/* PRoduct Card Css */

.product-Card img{
 height: 35vh;

}
.product-Card{
    transition: all ease .3s;
    cursor: pointer;
}
.product-Card:hover{
    box-shadow: 2px 2px 25px rgb(11, 82, 66);

}



/* Home Css */
.main{
    height: 90vh;
    width: 100%;
    background-image: url('https://i.pinimg.com/564x/89/ff/2a/89ff2a70ac5bcc18fc98310646e36bdf.jpg');
    background-size: 100% 100%;
}
.secmain{
    background-color:rgba(0, 0, 0, 0.8) ;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 


/* services start */
.ser-img img{
 height: 25vh;
 
}
.ser-img{
    box-shadow: 4px 4px 25px rgb(25, 26, 26);
    transition: all ease .3s;
    cursor: pointer
}


/* login form  */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 300px;
}

.login-form {
   background: #b8ecc3; 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #1d7720;
    color: white;
    cursor: pointer;
}

.login-form button:hover {
    background: #044b08;
    /* color:black; */
}

.error {
    color: red;
}


/* Product card design */
.nav-bar-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #75dd78;
    font-weight: bold;
    color: black;
}

